body{
    background-color: black;
}
.table1 {
width: 100% !important;
overflow: auto !important;
}
.table1 table {
width: 100% !important;
border-spacing: 0 !important;
}
.table1 table thead tr th {
text-align: left !important;
border-bottom: solid 5px indigo !important;
padding: 8px !important;
font-family: "cairo_b" !important;
font-size: medium;
background-color: #eee !important;
color: indigo !important;
}
.table1 table tbody tr td {
transition: all 0.15s ease !important;
padding: 8px !important;
color: white;
}
.table1 table tbody td span {
font-size: medium;
display: block;
color: white;
}
.table1 table tbody td span:first-child {
font-size: medium;
line-height: 1.5em;
display: block;
}
.table1 table tbody tr {
transition: all 0.2s ease;
border-bottom: solid 0.01em aqua !important;
}
.table1 table tbody tr:hover {
background-color: rgb(93, 78, 78) !important;
outline: solid 1px indigo !important;
}
.table1 table th,
.table1 table td:not(.wrap) {
white-space: nowrap !important;
}