body {
    background: #000;
  }
  
  svg {
    height: 140%;
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
  }
  
  .title-block {
    position: absolute;
    left: 50%;
    top: 45%;
  }
  .title-block .title {
    position: relative;
    left: -50%;
    color: #fff;
    text-align: center;
    font-family: "Lato";
    letter-spacing: 5px;
  }
  
  h2 {
    left: 30%;
    color: white ;
    padding: 9px 30px;
  }
  
  /*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float:right;
    color: white;
  }
  
  li a {
    display: block;
    padding: 8px;
    color: white;
    background-color:rgb(67, 59, 59) ;
  }*/
  
  #menu {
    z-index: 2;
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  
  #menu-bar{
       width: 45px;
       height: 40px;
       margin: 10px 0 5px 5px;
       cursor: pointer;
       
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #086A73;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    position: absolute;
  }
  
  .menu-bg {
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
      background: radial-gradient(circle,  rgb(63, 167, 91, ), rgb(63, 167, 91, ));
      border-radius: 50%;
      transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px)
    rotateZ(-45deg);
  }
  
  .change #bar2{
    opacity: 0;
  }
  .change #bar3 {
    transform: translateY(-6px)
    rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }
  
  #top .st48,
  #top .st52,
  #top .st50 {
    animation: drift-right-up 80s alternate;
  }
  #top .st33,
  #top .st51 {
    animation: drift-right-up 75s alternate;
  }
  #top .st49,
  #top .st42 {
    animation: drift-right-up 65s alternate;
  }
  
  #bottom .st11,
  #bottom .st56 {
    animation: drift-down 70s alternate;
  }
  #bottom .st53,
  #bottom .st54 {
    animation: drift-right 195s alternate;
  }
  #bottom .st55,
  #bottom .st36,
  #bottom .st33 {
    animation: drift-down 115s alternate;
  }
  #bottom .st51 {
    animation: drift-down-right 105s alternate;
  }
  
  #nearright .st40,
  #nearright .st43,
  #nearright .st33 {
    animation: drift-right 115s;
  }
  #nearright .st41,
  #nearright .st44 {
    animation: drift-right-up 105s;
  }
  #nearright .st42,
  #nearright .st45,
  #nearright .st46,
  #nearright .st55,
  #nearright .st47 {
    animation: drift-right 135s;
  }
  
  #farright .st54,
  #farright .st58,
  #farright .st59 {
    animation: drift-right 55s;
  }
  #farright .st57,
  #farright .st51 {
    animation: drift-right-up 40s;
  }
  
  a {
          color: #feffff;
        }
  
  @keyframes drift-right {
    100% {
      transform: translate(2000px, -20px);
    }
  }
  @keyframes drift-right-up {
    100% {
      transform: translate(2000px, -250px);
    }
  }
  @keyframes drift-up {
    100% {
      transform: translate(10px, -1450px);
    }
  }
  @keyframes drift-up-right {
    100% {
      transform: translate(175px, -1550px);
    }
  }
  @keyframes drift-down {
    100% {
      transform: translate(2000px, 1220px);
    }
  }
  @keyframes drift-down-right {
    100% {
      transform: translate(1450px, 320px);
    }
  }
  /* .button {
          background-color: rgb(0, 0, 0);
          border: 3px solid rgb(201, 40, 40);
          border-radius: 5px;
          color: aliceblue;
          display: inline block;
          font-size: 30px;
          padding: 10px 35px;
          text-align: center;
          cursor: pointer; 
      } */
      .st0{opacity:0.2;fill:#6EBECE;}
          .st1{opacity:0.2;fill:#04738A;}
          .st2{opacity:0.2;fill:#03496A;}
          .st3{opacity:0.2;fill:#0F97A1;}
          .st4{opacity:0.2;fill:#10596B;}
          .st5{opacity:0.2;fill:#0E5767;}
          .st6{opacity:0.5;fill:#46C1C6;}
          .st7{opacity:0.5;fill:#6AAECC;}
          .st8{opacity:0.2;fill:none;stroke:#24898E;stroke-miterlimit:10;}
          .st9{opacity:0.2;fill:#06546F;}
          .st10{opacity:0.2;fill:#3D9FBE;}
          .st11{opacity:0.2;fill:#064C6A;}
          .st12{opacity:0.2;fill:#047080;}
          .st13{opacity:0.2;fill:#0C638B;}
          .st14{opacity:0.5;fill:#106068;}
          .st15{opacity:0.5;fill:#1A737C;}
          .st16{opacity:0.5;fill:#1A8799;}
          .st17{opacity:0.5;fill:#1A848E;}
          .st18{opacity:0.5;fill:#5FC6C7;}
          .st19{opacity:0.5;fill:#0F5C63;}
          .st20{opacity:0.5;fill:#2694A0;}
          .st21{opacity:0.5;fill:#0A6481;}
          .st22{opacity:0.5;fill:#57B9CF;}
          .st23{opacity:0.5;fill:#0B526C;}
          .st24{opacity:0.5;fill:#0F7F8A;}
          .st25{opacity:0.5;fill:#11636C;}
          .st26{opacity:0.5;fill:#0B8898;}
          .st27{opacity:0.2;fill:#0B676A;}
          .st28{opacity:5.000000e-02;fill:none;stroke:#24898E;stroke-miterlimit:10;}
          .st29{opacity:0.5;fill:#208899;}
          .st30{opacity:0.5;fill:#279AA6;}
          .st31{opacity:0.5;fill:#167383;}
          .st32{opacity:0.5;fill:#2A9AA6;}
          .st33{opacity:0.5;fill:#1C8E78;}
          .st0{opacity:0.5;fill:#106068;} .st1{opacity:0.5;fill:#1A737C;} .st2{opacity:0.5;fill:#1A8799;} .st3{opacity:0.5;fill:#5FC6C7;} .st4{opacity:0.5;fill:#1A848E;} .st5{opacity:0.5;fill:#208899;} .st6{opacity:0.5;fill:#279AA6;} .st7{opacity:0.5;fill:#0F5C63;} .st8{opacity:0.5;fill:#2694A0;} .st9{opacity:0.5;fill:#167383;} .st10{opacity:0.5;fill:#2A9AA6;} .st11{opacity:0.5;fill:#1C8E78;} .st12{opacity:0.5;fill:#137260;} .st13{opacity:0.3;fill:#6EBECE;} .st14{opacity:0.3;fill:#04738A;} .st15{opacity:0.3;fill:#03496A;} .st16{opacity:0.5;fill:#0A6481;} .st17{opacity:0.5;fill:#57B9CF;} .st18{opacity:0.5;fill:#45B3C5;} .st19{opacity:0.5;fill:#0B526C;} .st20{opacity:0.5;fill:#0F7F8A;} .st21{opacity:0.5;fill:#11636C;} .st22{opacity:0.5;fill:#0B8898;} .st23{opacity:0.3;fill:#0B676A;} .st24{opacity:0.3;fill:#0F97A1;} .st25{opacity:0.3;fill:#10596B;} .st26{opacity:0.3;fill:#0E5767;} .st27{opacity:0.3;fill:#64BFBF;} .st28{opacity:0.3;fill:#2B8383;} .st29{opacity:0.3;fill:#46C1C6;} .st30{opacity:0.3;fill:#206462;} .st31{opacity:0.5;fill:#46C1C6;} .st32{opacity:0.5;fill:#6AAECC;} .st33{opacity:0.3;fill:none;stroke:#24898E;stroke-miterlimit:10;} .st34{opacity:5.000000e-02;fill:none;stroke:#24898E;stroke-miterlimit:10;} .st35{opacity:0.3;fill:#06546F;} .st36{opacity:0.3;fill:#3D9FBE;} .st37{opacity:0.3;fill:#064C6A;} .st38{opacity:0.3;fill:#047080;} .st39{opacity:0.3;fill:#0C638B;} .st40{opacity:0.35;fill:#1A737C;} .st41{opacity:0.3;fill:#2E8887;} .st42{opacity:0.3;fill:#08838B;} .st43{opacity:0.34;fill:#42B0A3;} .st44{opacity:0.5;fill:#128172;} .st45{opacity:0.35;fill:none;stroke:#24898E;stroke-miterlimit:10;} .st46{opacity:0.5;fill:#24898E;} .st47{opacity:0.3;fill:#6CC0BA;} .st48{opacity:0.3;fill:#3896BA;} .st49{opacity:0.5;fill:#086A73;} .st50{opacity:0.35;fill:#0781A0;} .st51{opacity:0.33;fill:none;stroke:#24898E;stroke-miterlimit:10;} .st52{opacity:0.3;fill:#0A6D75;} .st53{opacity:0.3;fill:#0C8270;} .st54{opacity:0.3;fill:#4DB5B9;} .st55{opacity:0.3;fill:#1A737C;} .st56{opacity:0.5;fill:#0CA181;} .st57{opacity:0.35;fill:#328488;} .st58{opacity:0.34;fill:#06938E;} .st59{opacity:0.37;fill:#105756;}